.container {
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    display: flex;
    margin: auto;
    padding: 20px;
    background: blue;
    position: relative;
}
label {
    align-self: center;
    margin-right: 10px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}

input {
    line-height: 100%;
}

button {
    background: white;
    border: blue 2px solid;
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 13px;
}

.error_message {
    color: darkred;
    position: absolute;
    top: 80px;
}